body{
    padding: 100px;
}
.submit-area{
    margin-top: 50px;
    border-radius: 12px;
    box-shadow: 5px 5px 14px grey;
    padding: 40px;
}
#transaction-area{
    display: none;
}
.deposit{
    background-color: slategray;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: tomato;
}
.status{
    margin: 0 22px;
    color: white;
    padding: 20px;
    border-radius: 8px;
}